h1{
	text-align:center;
}
.select{
	margin-left:auto;
	margin-right:auto;
	width:75%;
}
.button{
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	width:25%;
}
#play{
	width:250px;
	height:75px;
	background-color:red;
	color:white;
	font-size:24px;
	font-weight:500;
	padding:10px;
	border-radius:10px;
}
.choosen{
	margin-left:auto;
	margin-right:auto;
	width:75%;
}
.choosen img{
		width:150px;
		height:150px;
		margin:20px;
		padding:10px;
		border:5px solid black;
		margin-left:50px;
}
#float-div{
	width:200px;
	height:200px;
	border:1px solid black;
	margin:auto;
	position:absolute;
	bottom:100px;
	left:450px;
	z-index:999;
	display:none;
	
}